:root {
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --blue: #89b4fa;
    --text: #cdd6f4;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", san-serif;
    background: var(--base);
    color: var(--text);
    height: 100vh;
}

.text { color: var(--text); }
.mantle { background: var(--mantle); }
.crust { background: var(--crust); }

#main {
    position: relative;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 4rem;
    font-size: 32px;
}

#header {
    display: block;
    height: 4rem;
    align-items: center;
    align-content: center;
    padding: 0 4rem;
}

#home-url {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

